{% extends "layout.html" %}

{% block title %}
    quoted
{% endblock %}

{% block main %}
    <h3>{{ name }} ({{ symbol }}) quote information:</h3><br>
    <table class="table-quote table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>{{ price }}</td>
                <td>{{ symbol }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
